//メディアサイズ
$_medeia-xs:  320px !default; //SP（iPhoneSEなど）
$_medeia-sm:  599px !default; //SP（スマホ全般）
$_medeia-md:  600px !default; //TAB・PC
$_medeia-lg:  960px !default; //PC（960px以上）
$_medeia-xl: 1280px !default; //PC（1280px以上）
$_breakpoints: (
  'xs': 'only screen and (max-width:'   & #{$_medeia-xs} & ')',
  'sm': 'only screen and (max-width:'   & #{$_medeia-sm} & ')',
  'md': 'print, screen and (min-width:' & #{$_medeia-md} & ')',
  'lg': 'only screen and (min-width:'   & #{$_medeia-lg} & ')',
  'xl': 'only screen and (min-width:'   & #{$_medeia-xl} & ')',
) !default;
//メディアクエリ
@mixin media($_breakpoint: md) {
  @media #{map-get($_breakpoints, $_breakpoint)} {
    @content;
  }
}